.movieDetContainer {
}
.goBackLink {
  display: inline-block;
  padding: 5px 10px;
  color: white;
  border: 1px solid white;
  margin-bottom: 10px;
  margin-top: 10px;
}

.movieFirstWrapper {
  display: flex;
  gap: 40px;
  padding-bottom: 15px;
  border-bottom: 1px solid orange;
}

.movieDetImage {
  height: 500px;
  width: 400px;
  object-fit: cover;
}

.movieDetTitle {
  font-size: 30px;
}

.movieInfoWrap {
  padding: 20px 20px;
  border-bottom: 1px solid orange;
  margin-bottom: 10px;
}

.movieLink {
  display: inline-block;
  padding: 0 10px;
  color: orange;
  text-decoration: underline;
  transition: color 250ms linear;
}

.movieLink:hover,
.movieLink:focus {
  color: white;
}
