.castList {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.listItem {
  flex-basis: calc((100% - 60px) / 5);
}

.noPhoto {
  display: flex;
  height: 250px;
  width: 166px;
  justify-content: center;
  align-items: center;
  background-color: grey;
  flex-direction: column;
}
